<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)">
  <div>
    <h1><strong> Brighter Friends, Brighter Future.</strong></h1>
    <div class="text-center">

    </div>
  </div>
</div>
