.button {
  color: $red;
  margin: 0;
  border: none;
}

.back-button {
  text-decoration: none;
  background-color: darken($light-gray, 5%);
  color: white !important;
  padding: 6px 12px;
  width: 60px;
  border-radius: 2px;
  text-align: center;
  float: right;
  margin: 2.8rem;
  left: 30px;
  position: fixed;
  &:hover {
    text-decoration: none;
    background-color: darken($light-gray, 10%);
  }
}


a.back-link {
  color: white;
  &:hover {
    text-decoration: none;
  }
}

.btn {
  background: $red;
  font-weight: bold;
  border: none;
  margin-left: 15px;

  &:hover {
   background-color: darken(#FA5F6A, 10%);
  }
}

.form-group {
  margin-left: 15px;
}

