.group-card-link {
  color: #303030;
}

.group-card-link:hover {
  text-decoration: none;
  color: #6e6969;
}
.group-member-link {
  margin: 5px;
  color: #303030;
  font-size: 16px;

  &:hover {
  text-decoration: none;
  color: #A9A9A9;
  }
}

.card-product {
  margin: auto;
  margin-bottom: 28px;
  overflow: hidden;
  height: 140px;
  width: 850px;
  background: white;
  // box-shadow: 0 0 5px rgba(0,0,0,0.1);
  display: flex;
  // align-items: center;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
}

.card-product img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 12px 14px;
  border-width: 1px;
  width: 100%;
}

  // align-items: flex-end;
  // position: relative;

.card-product-details {
  display: flex;
  justify-content: space-between;
}

.group-cards-list {
  .card-product-infos {
    h2 {
      font-size: 22px;
    }

    p {
      font-size: 16px;
    }
  }
}
