.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-nav .budbee-nav-link {
  color: $red;
}

