.org-card {
  position: relative;
  overflow: hidden;
  background: white;
  // box-shadow: 0 0 8px rgba(0,0,0,0.2);
  width: 43%;
  margin: none;
  // margin: 15px;
}

.org-card .group-public-tag {
  position: absolute;
  top: 8px;
  left: 16px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 4px 6px;
}

.org-card > img {
  height: 33%;
  width: 100%;
  object-fit: cover;
 }

.org-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.org-card p {
  font-size: 16px;
  opacity: 1;
  margin: 0;
}

.org-card .org-card-infos {
  padding-top: 16px;
  //display: flex;
  //justify-content: space-between;
  align-items: flex-start;
  position: relative;

  .info-left {
    //width: 35%;
    //margin-right: 8px;
  }

  .info-right {
    margin-top: 5px;
  }
}

// .org-card-infos .card-trip-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
