.flex-profile-container {
  flex-direction: row;
  display: flex; /* or inline-flex */
  // flex-grow: 0; /* default 0 */
  margin-right: 18px
}

.flex-group-container {
  flex-direction: row;
  display: flex; /* or inline-flex */
  // flex-grow: 0; /* default 0 */
  margin-top: 25px;
  justify-content: space-evenly;
}

.flex-upcoming-container {
  flex-direction: row;
  display: flex; /* or inline-flex */
  // flex-grow: 0; /* default 0 */
}

.profile-groups {
  // width: 66%;
  width: 100%;
  //margin-top: 18px;
}

.profile-meetups {
  padding: none;
  margin: none;
  // width: 33%;
  // width: 33%;
  //margin-top: 18px;
}

.vr {
  width:1px;
  border-left: 1px solid $light-gray;
}

