.search-form-control {
  position: relative;
}

.search-form-control .btn {
  justify-content: center;
  margin-top: 16px;
}

.btn :hover {
  color: $red;
}

.search-form-control .form-control {
  justify-content: center;
  height: 2.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  margin-top: 15px;
}

.search-form-control .form-control:focus {
  border: 1px solid red;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.search-form-control {
  display: flex; /* or inline-flex */
  justify-content: start;
  flex-direction: row;
}

.search-group-index {
  font-size: 2rem;
  margin: 48px 0;
  height: 100px;
  .search-button-banner {
    padding: 12px 36px;
    margin: 0 24px;
    background-color: $red;
    border: none;
    color: white;
    height: 70px;
    font-weight: bold;
  }
  input[type="text"] {
    background-color: white !important;
    height: 70px;
    font-size: 36px;
    border-radius: 0;
    padding: 0 24px;
    width: 400px;
    border-bottom: 2px solid $light-gray;
    &:focus {
      border-width: 4px;
    }
  }

}
