.tag {
  margin: none;
  opacity: 0.8;
  ul {
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }
  ul li {
    display: inline;
    border: 1px solid $red;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 14px;
    margin-left: 6px;
  }
}
